<form [formGroup]="authForm">
    <h1 mat-dialog-title>{{ this.isRegistration ? 'Регистрация' : "Вход в аккаунт"}}</h1>

    <div mat-dialog-content>
        <mat-button-toggle-group (change)="onToggleChangeMode($event)" class="w-full mb-5" value="login">
            <mat-button-toggle class="w-full" value="login">
                <mat-icon>account_circle</mat-icon>&nbsp;Вход
            </mat-button-toggle>
            <mat-button-toggle class="w-full" value="registration">
                <mat-icon>app_registration</mat-icon>&nbsp;Регистрация
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="block" *ngIf="isRegistration">
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="block">
            <mat-label>Почта</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="block">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
<!--            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"-->
<!--                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">-->
<!--                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--            </button>-->
        </mat-form-field>

        <mat-checkbox formControlName="isCart" class="mb-3 -mx-2">Перенести корзину в аккаунт (<b>если она не пустая</b>)</mat-checkbox>

        <p *ngIf="!isRegistration">Если Вы ещё не создали аккаунт, то можете зарегистрироваться</p>
        <p *ngIf="isRegistration">Если у Вас уже есть аккаунт, то можете в него войти</p>
        <p class="text-red-500">{{error}}</p>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button (click)="onSubmit()" class="w-44" [disabled]="!isValid" color="success" cdkFocusInitial>
            {{isRegistration ? 'Зарегистрироваться' : 'Войти'}}
        </button>
        <button mat-raised-button (click)="onClose()" color="accent">
            <mat-icon>arrow_back_ios</mat-icon>Отмена
        </button>
    </div>
</form>
