<div>
    <mat-drawer-container class="w-full min-h-screen">
        <mat-drawer-content class="content">
            <div class="min-h-screen m-5">
                <h1 *ngIf="!books">Загрузка...</h1>
                <h1 *ngIf="books && books.length <= 0">Книг нет</h1>
                <div class="grid-cards">
                    <div *ngFor="let b of books" class="mt-3">
                        <app-book-card [book]="b" (onClickCard)="toCardDetails($event.id)"></app-book-card>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<router-outlet></router-outlet>
