<mat-toolbar color="primary" class="mat-body-1">
    <mat-toolbar-row>
        <mat-button-toggle-group>
            <a mat-icon-button href="https://github.com/MikhailGoriachev/books-library-project" target="_blank" class="mat-icon-button">
                <mat-icon svgIcon="github"></mat-icon>
            </a>
            <a mat-icon-button href="mailto:goriachevmichael@gmail.com" class="mat-icon-button">
                <mat-icon svgIcon="gmail"></mat-icon>
            </a>
            <!-- Добавьте другие кнопки и иконки по аналогии -->
        </mat-button-toggle-group>
    </mat-toolbar-row>
</mat-toolbar>
