<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <style>
        body {
            width: 75%;
            box-sizing: border-box;
            padding: 2rem;
            font-family: 'Roboto Condensed', sans-serif;
        }

        h1, p {
            color: #333;
        }

        h1 {
            font-size: 16pt;
        }

        p {
            font-size: 12pt;
        }

        .button-container {
            text-align: center;
            margin-top: 2rem;
            box-sizing: border-box;
        }

        .button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<main>
    <h1>Уважаемый(ая) {{ name }}</h1>
    <p>
        Мы хотели бы сообщить Вам, что Ваш пароль был успешно сброшен и заменен. Ваш аккаунт нашего сервиса теперь
        обеспечен
        повышенной безопасностью.
    </p>
    <p>Ниже Вы найдете Ваш новый пароль:</p>
    <p><b>Новый пароль:</b> {{ newPassword }}</p>
    <p>
        Мы рекомендуем Вам сохранить этот пароль в надежном месте и не раскрывать его третьим лицам. Если Вы не
        запросили
        сброс пароля, пожалуйста, немедленно свяжитесь с нашей службой поддержки.
    </p>

    <p>
        Спасибо за использование наших услуг. Если у Вас возникнут какие-либо вопросы или потребуется дополнительная
        помощь,
        не стесняйтесь обращаться к нашей команде поддержки.
    </p>

    <p>С наилучшими пожеланиями, <b>Book Market</b>!</p>

    <div class='button-container'>
        <a href="https://goriachev-mikhail.com" class='button'>
            Перейти в маркет
        </a>
    </div>
</main>
</body>
</html>