<form [formGroup]="form">
    <h1 mat-dialog-title>Сброс пароля</h1>

    <div mat-dialog-content>
        <mat-form-field class="block">
            <mat-label>Почта</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <p *ngIf="isComplete" class="text-green-500">Письмо с новым паролем отправлен на Вашу почту</p>
        <p *ngIf="!isComplete" class="text-red-500">{{error}}</p>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button (click)="onSubmit()" [disabled]="!isValid" color="success" cdkFocusInitial>
            Отправить
        </button>
        <button mat-raised-button mat-dialog-close color="accent">
            <mat-icon>arrow_back_ios</mat-icon>Назад
        </button>
    </div>
</form>
